/* Main stuff */
body {
  margin: 0px;
  text-align: center;
  overflow-y: hidden;
  overflow-x: scroll;
  font-family: Helvetica, sans-serif;
  background-color: #c9c9c9;
}

/* Buttons  */
button {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  background-color: white;
}

input[type="number"],
input[type="text"] {
  height: 2rem;
  border-radius: 5px;
}

/* Create three unequal columns */
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.sidebar.left {
  padding: 10px;
  border-right: 3px solid gray;
}
.sidebar.right {
  border-left: 3px solid gray;
}
